<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary px-0">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="dashboard">Interisk Audit</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto pt-1">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active fluffy"><i class="material-icons">equalizer</i>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="templates" routerLinkActive="active fluffy"><i class="material-icons">content_paste</i>Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="audits" routerLinkActive="active fluffy"><i class="material-icons">check_circle</i>Audit</a>
      </li>      
    </ul>

    <!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
    <!--span *ngIf="user" class="navbar-text pt-3">
    {{user.name}} @ {{user.accountName}} <img class = "pt-0 pb-2" src="{{temp}}" height="30" (error)="this.temp='./assets/logo0.gif';">
    </span-->
    
    <form class="form-inline my-2 my-lg-0 p-2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()">Log Out</button>
    </form>

  </div>

</nav>
<!--
<div class="d-flex flex-column align-items-end bg-faded">
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol> 
</div>
-->

<router-outlet></router-outlet>