<div class="container-fluid p-2">
  <div class="card card-outline-primary mb-3 text-center">
    <div class="card-block">
      <blockquote class="card-blockquote">
        <H2 class="text-primary">{{myForm.controls['auditTitle'].value || 'Create Template'}}</H2>
      </blockquote>
    </div>
  </div>
  <div class="card text-left">
    <form [formGroup]="myForm" novalidate (ngSubmit)="save()">
      <!--  CARD HEADER START -->
      <div class="card-header">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
          <li class="nav-item">
            <a [ngClass]="{'nav-link':true, 'active':tabNo==0}" (click)="tabActive(0)" style="cursor: pointer">Cover Page</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link':true, 'active':tabNo==1}" (click)="tabActive(1)" style="cursor: pointer">Audit Questionaire</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link':true, 'active':tabNo==2}" (click)="tabActive(2)" style="cursor: pointer">About the Audit</a>
          </li>
          <li class="nav-item">
            <a [ngClass]="{'nav-link':true, 'active':tabNo==3}" (click)="tabActive(3)" style="cursor: pointer">Register</a>
          </li>
        </ul>
      </div>
      <!--  CARD HEADER END -->
      <div class="card-block">
        <!-- Tab panes -->
        <div class="tab-content">

          <!-- 1st tab start -->
          <div [ngClass]="{'tab-pane':true, 'active':tabNo==0}" id="tab01" role="tabpanel">
            <div class="form-group">
              <label>Audit Type</label>
              <input type="text" class="form-control" formControlName="auditTitle">
              <small *ngIf="!myForm.controls.auditTitle.valid" class="text-danger">
              *required (minimum 3 characters)  
            </small>
            </div>
            <div *ngIf="sites" class="form-group">
              <label>Site </label>
              <select class="form-control" formControlName="siteId" (change)="chageSite()">
                <option *ngFor="let site of sites"
                  [value]="site.id" >
                      {{site.siteName}} - {{site.siteAddress}} 
                </option>
                <!--option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option-->
              </select>
            </div>
 
            <div class="form-group">
              <label>Site Name</label>
              <input type="text" class="form-control" formControlName="siteName">

            </div>
            <div class="form-group">
              <label>Site Address</label>
              <input type="text" class="form-control" formControlName="siteAddress">
            </div>

            <div *ngIf="user" class="form-group">
              <label>Auditor</label>
              <input type="text" class="form-control" formControlName="auditor">
              <small *ngIf="!myForm.controls.auditor.valid" class="text-danger">
              *required (minimum 3 characters)
            </small>
            </div>
            <div class="margin-20">
              <button type="button" class="btn btn-md btn-info btn-flat pull-right" (click)="tabActive(1)">Next</button>
            </div>
            <div class="clearfix"></div>
          </div>

          <!-- 2nd tab start -->
          <div [ngClass]="{'tab-pane':true, 'active':tabNo==1}" id="tab02" role="tabpanel">
            <!-- formArrayName start -->
            <div formArrayName="questions">
              <div *ngFor="let questionGroup of questions.controls; let i=index" class="panel panel-default">
                <div class="panel-heading">
                  <div class="alert alert-info" role="alert" *ngIf="questionGroup.controls['questionType'].value ==='C'">Category
                    <span class="pull-right" *ngIf="questions.controls.length > 1" (click)="removeQuestion(i)">
                      <i class="material-icons" style="cursor: pointer">close</i>
                      </span>
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="questionGroup.controls['questionType'].value !=='C'">Question
                    <span class="pull-right" *ngIf="questions.controls.length > 1" (click)="removeQuestion(i)">
                      <i class="material-icons" style="cursor: pointer">close</i>
                      </span>
                  </div>
                </div>
                <div class="panel-body" [formGroupName]="i">
                  <!--<p> control value : {{questionGroup.controls['category'].valid}} </p>-->
                  <div class="form-group col-xs-6" *ngIf="questionGroup.controls['questionType'].value ==='C'">
                    <input type="text" class="form-control" formControlName="category" (keyup)="fillQuestion($event)">
                    <small *ngIf="!questionGroup.controls['category'].valid" class="text-danger">
                      *required (minimum 3 characters)
                    </small>
                  </div>
                  <div class="form-group col-xs-6" *ngIf="questionGroup.controls['questionType'].value !=='C'">
                    <input type="text" class="form-control" formControlName="question" (keyup)="fillQuestion($event)">
                    <small *ngIf="!questionGroup.controls['question'].valid" class="text-danger">
                      *required (minimum 3 characters)
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <!-- formArrayName end -->
            <div class="margin-20">
              <a (click)="addQuestion('C')" style="cursor: pointer"><i class="material-icons">folder_open</i>Add Category</a>
              <a (click)="addQuestion('Q')" style="cursor: pointer"><i class="material-icons">event_available</i>Add Question</a>
            </div>
            <hr>
            <div class="margin-20">
              <button type="button" class="btn btn-md btn-info btn-flat pull-left" (click)="tabActive(0)">Prev</button>
            </div>
            <div class="margin-20">
              <button type="button" class="btn btn-md btn-info btn-flat pull-right" (click)="tabActive(2)">Next</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- 3rd tab start -->
          <div [ngClass]="{'tab-pane':true, 'active':tabNo==2}" id="tab03" role="tabpanel">
            <div class="form-group">
              <label class="col-md-3 col-sm-4">My Audit Name</label>
              <input type="text" class="form-control" formControlName="auditAlias">
              <small *ngIf="!myForm.controls.auditAlias.valid" class="text-danger">
              *required (minimum 3 characters)
            </small>
            </div>
            <!--div class="form-group">
              <label class="col-md-3 col-sm-4">Description</label>
              <input type="text" class="form-control" formControlName="auditDescription">
              <small *ngIf="!myForm.controls.auditDescription.valid" class="text-danger">
              *required (minimum 3 characters)
            </small>
            </div-->
            <div class="margin-20">
              <button type="button" class="btn btn-md btn-info btn-flat pull-left" (click)="tabActive(1)">Prev</button>
            </div>
            <button type="button" class="btn btn-md btn-info btn-flat pull-right" (click)="tabActive(3)">Next</button>
            <div class="clearfix"></div>
          </div>
          <!-- 4th tab start -->
          <div [ngClass]="{'tab-pane':true, 'active':tabNo==3}" id="tab04" role="tabpanel">
            <div class="margin-20">
              <div [ngClass]="{'alert':true, 'alert-success':myForm.valid, 'alert-danger':!myForm.valid}" role="alert">
                <strong *ngIf="myForm.valid">Review your template detail and save to complete the process</strong>
                <strong *ngIf="!myForm.valid">Please fill in missing information.</strong>
              </div>
              <!-- --------------------------------------------------- -->
              <div *ngIf="myForm">
                <ul class="list-group">
                  <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!myForm.controls.auditTitle.valid}">
                    <strong>Title</strong> : {{myForm.controls.auditTitle.value}}
                  </li>
                  <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':false}">
                    <strong>Site Name</strong> : {{myForm.controls.siteName.value}}
                  </li>
                  <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':false}">
                    <strong>Site Address</strong> : {{myForm.controls.siteAddress.value}}
                  </li>
                  <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!myForm.controls.auditor.valid}">
                    <strong>Auditor</strong> : {{myForm.controls.auditor.value}}
                  </li>
                  <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!myForm.controls.auditAlias.valid}">
                    <strong>My Audit Name</strong> : {{myForm.controls.auditAlias.value}}
                  </li>
                  <!--li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!myForm.controls.auditDescription.valid}">
                    <strong>Description</strong> : {{myForm.controls.auditDescription.value}}
                  </li-->
                  <!-- formArrayName start -->
                  <div formArrayName="questions">
                    <div *ngFor="let questionGroup of questions.controls">
                      <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!questionGroup.controls['category'].valid}" *ngIf="questionGroup.controls['questionType'].value ==='C'">
                        <strong>Category</strong> : {{questionGroup.controls['category'].value}}
                      </li>
                      <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!questionGroup.controls['question'].valid}" *ngIf="questionGroup.controls['questionType'].value !=='C'">
                        <strong> Question </strong> : {{questionGroup.controls['question'].value}}
                      </li>
                    </div>
                  </div>
                  <!-- formArrayName end -->

                  <!--                  
                  <div *ngFor="let questionGroup2 of myForm.controls.questions.controls; let i2=index">
                    <div [formGroupName]="i2">
                      <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!questionGroup2.controls['category'].valid}" *ngIf="questionGroup2.controls['identityType'].value ==='C'">
                        <strong>Category</strong> : {{questionGroup2.controls['category'].value}}
                      </li>
                      <li [ngClass]="{'list-group-item':true, 'list-group-item-danger':!questionGroup2.controls['question'].valid}" *ngIf="questionGroup2.controls['identityType'].value ==='Q'">
                        <strong>Category</strong> : {{questionGroup2.controls['question'].value}}
                      </li>
                    </div>
                  </div>
                  -->
                </ul>
              </div>
              <!-- --------------------------------------------------- 
              <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
              <pre>form value: <br>{{myForm.value | json}}</pre>
              <pre> {{ myForm.controls.questions.controls['question'] }} </pre>
              -->
            </div>
            <hr>
            <div class="margin-20">
              <button type="button" class="btn btn-md btn-info btn-flat pull-left" (click)="tabActive(2)">Prev</button>
            </div>
            <div class="margin-20">
              <p-growl [(value)]="msgs" [life]="700"></p-growl>
              <button type="submit" class="btn btn-md btn-danger btn-flat pull-right" [disabled]="!myForm.valid">SAVE</button>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- 4th tab start -->
          <!--
          <p>{{myForm.value|json}}</p>
          <p>{{this.template|json}}</p>
          -->
        </div>
      </div>
    </form>
  </div>
</div>