.switch-field input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
}

.btn-group-radio input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

#uploadFile { display: none; }
#uploadB1,#uploadB2 { display: none; }


