<div class="container-fluid">

  <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Audit Type</th>
        <th>Site</th>        
        <th class="hidden-xs-down">Auditor</th>
        <th class="hidden-xs-down">Audit Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of audits; let i = index">
        <td>{{row.id}}</td>
        <td>{{row.auditTitle}}</td>
        <td>{{row.siteName}}</td>        
        <td class="hidden-xs-down">{{row.auditor}}</td>
        <td class="hidden-xs-down">{{row.auditDate | date:'y-MM-dd'}}</td>
        <td>
          <a routerLink="/audit/{{row.id}}">
            <button type="button" class="btn btn-sm btn-primary">
              <div class="hidden-md-up">Continue</div>
              <div class="hidden-sm-down">Continue Audit</div>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>