<!--
<label class="btn btn-md btn-danger btn-flat pull-right" (click)="PDF()">PDF</label>
-->

<!-- Button trigger modal -->

<label class="btn btn-md btn-danger btn-flat pull-right mx-1" data-toggle="modal" data-target="#exampleModal">PDF</label>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-muted" id="exampleModalLabel">PDF REPORT</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-muted">
        <div class="container">
          <div class="row">
            <div class="col">
              
              <img src="{{temp}}" width="191" height="146" (error)="this.temp='./assets/logo0.gif';">
              <!--img [src]="temp" (error)="setDefaultPic()"-->
              <!--img [src]="this.apiUrl + 'images/' + this.audit.siteId + '/' + this.audit.id + '.JPG'" (error)="updateUrl($event)"-->
              
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 m-0">              
              <label for="image_uploads">Choose New Cover Image</label>            
              <input type="file" id="image_uploads" ng2FileSelect [uploader]="uploader" placeholder="Cover"/>
            </div>
            <div class="col-xs-5 m-0 p-1">              
              <button type="button" class="btn btn-success btn-s"
                        (click)="DocumentSave()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                </button>
            </div>
            <div class="col-xs-5 m-0 p-1">
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                </button>
                
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="PDF0()">PDF REPORT</button>
      </div>
    </div>
  </div>
</div>
<on-upload id="changeEvent" [power]="uploader.getNotUploadedItems().length" (completed)="aftercheck()"></on-upload>